*{
  margin: 0px;
  padding: 0px;
}

body{
  background-image: url(img/img_1.jpg);
  background-attachment: fixed;
  background-size: cover;
}

h1{
  font-size: 50px;
  color: white;
  margin-top: 30px;
  margin-bottom: 60px;
}

.col-md-5{
  background: rgba(0,0,0,0.5);
  margin-top: 40px;
}

.label{
  font-size: 20px;
  font-weight: normal;
  color: white;
}

.input-group{
  margin-top: 10px;
  margin-bottom: 20px;
}

.input-group-addon{
  background: transparent;
  border-radius: 0px;
  border: 0px;
  border-bottom: 1px solid gray;
  font-size: 18px
  color: gray;
}

.form-control{
  background: transparent;
  border-radius: 0px;
  border: 0px;
  border-bottom: 1px solid grey;
  padding 15px;
  color: white;
  font-size: 21px;
}

input[type="checkbx"]{
  height: 15px;
  width: 15px;
}

small{
  font-size: 18px;
  color: white;
}

p{
  font-size: 18px;
  color: white;
}

input[type="button"]{
  height: 40px;
  width: 80%;
}

.button-sign-in{
  margin-top:20px;
  margin-bottom:20px;
  margin-left: 40px;
}

h2{
  font-size: 30px;
  color:white;
}

.row{
  margin-top: 60px;
}
